<%= form_with(scope: :session) do |form| %>
  <p id="notice"><%= notice %></p>

  <div class="mb-3">
    <%= form.label :email, class: "form-label" %>
    <%= form.text_field :email, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :password, class: "form-label" %>
    <%= form.password_field :password, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Sign in" %>
  </div>
<% end %>